extends layout

block content
    h1 #{article.title}
    p #{article.body}
    h6 Written by #{article.author}
    br
    a.btn.btn-primary(href='/article/edit/'+article.id) Edit
    a.btn.btn-danger.float-right.delete-article(href='#', data-id=article.id) Delete